<mui-org-chart
	[topEmployee]="topEmployee"
	direction="horizontal"
	(itemClick)="itemClick($event, $event.target)"
></mui-org-chart>
<div class="input-container" [style.top]="top" [style.left]="left" *ngIf="isEnable">
	<app-input></app-input>
</div>
