.input-container {
	position: absolute;
}
::ng-deep .mui-oc-image {
	background-size: cover;
	margin-right: 12px;
}

::ng-deep .mui-oc-name {
	font-family: 'Patua One', cursive;
	color: black;
}

::ng-deep .mui-oc-designation {
	font-family: 'Oswald', sans-serif;
}

::ng-deep .mui-oc-border {
	border-color: #9e9e9e;
}
::ng-deep .mui-oc-box {
	background-color: #e3f0f1;
	border: 1px solid #c6e0e4;
	width: 214px;
	height: 48px;
}

// Custom cssClass from Employee object
::ng-deep .mui-oc-ceo {
	background-color: #4caf50;
}
::ng-deep .mui-oc-vp {
	background-color: #03a9f4;
}
::ng-deep .mui-oc-dir {
	background-color: #607d8b;
}
::ng-deep .mui-oc-man {
	background-color: #9c27b0;
}
